:root {
    --boho-mexican-sand: #B29780;
    --boho-celadon: #A8A99E;
    --boho-tent-green: #A69F88;
    --boho-cocoa-cream: #DBC8B6;
    --boho-japanese-poet: #C4BCB7;
    --boho-tannery-brown: #5D4B3C;
}