@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import './styles/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cardo', serif;
  color: var(--boho-tannery-brown);
}

body {
  background-color: var(--boho-cocoa-cream);
}